html, head {
    .project-card:hover {
        transform: scale(1.05);
        transition: 0.3s;
    }
    .navbar {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
    }
}

html, body{
    height: 100%;
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: rgb(51, 142, 165);
}

.navbar {
    background-color: rgb(33, 37, 41);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#cabeçalho {
    background-color: rgb(51, 142, 165);
    color:white;
    height: 700px;
    padding-top: 50px;
}

.container a {
    font-family: 'Lora', sans-serif;
}

.container-fluid {
    text-align: center;
    align-items: center;
    font-family: 'Lora', sans-serif;
}

.container-fluid img {
    border-radius: 50%; 
    max-width: 450px;
    width:100%;
    height: auto;
    margin: 0;
}

.navbar-toggler {
    text-align: center;
}

#sobre {
    background-color: rgb(31, 89, 107);
    padding-top: 150px;
    padding-bottom: 24px;
    height: 700px;
    width: 100%;
}

#sobre .row {
    padding-top: 5%;
}

#sobre div {
    color:white;
    font-family: "Lora", sans-serif;
    text-align: center;
}

#sobre .row {
    padding-top: 20px;
}

.card {
    border: rgb(51, 142, 165);
}

.card-body {
    background-color:rgb(51, 142, 165);
    border-radius: 5px;
}

#experiencia {
    background-color:rgb(51, 142, 165);
    padding-top: 150px;
    padding-bottom: 24px;
    height: 700px;
    width: 100%;
}

#experiencia .row {
    padding-top: 5%;
}

#experiencia div {
    color:white;
    font-family: "Lora", sans-serif;
    text-align: center;
}

#card1 {
    background-color: rgb(51, 142, 165);
    border:rgb(51, 142, 165)
}

#card2 {
    border: rgb(31, 89, 107);
    background-color: rgb(31, 89, 107);
}

#card3 {
    background-color: rgb(51, 142, 165);
    border:rgb(51, 142, 165)
}

#experiencia .card-body {
    border-radius: 5px;
}

#formacao {
    background-color: rgb(31, 89, 107);
    padding-top:150px;
    padding-bottom: 24px;
    height: 700px;
    width: 100%;
}

#hformacao .row {
    padding-top: 5%;
}

#formacao div {
    color:white;
    font-family: "Lora", sans-serif;
    text-align:center;
}

#formacao .card {
    border: rgb(51, 142, 165);
}

#formacao .card-body {
    background-color: rgb(51, 142, 165);
    border-radius: 5px;
}

#habilidades {
    background-color: rgb(51, 142, 165);
    padding-top: 150px;
    padding-bottom: 24px;
    height: 700px;
    width: 100%;
}

#habilidades .row {
    padding-top: 5%;
}

#habilidades div {
    color:white;
    font-family: "Lora", sans-serif;
    text-align: center;
}

#habilidades .card {
    border: rgb(31, 89, 107);
}

#habilidades .card-body {
    background-color: rgb(31, 89, 107);
    border-radius: 5px;
}

#projetos {
    background-color: rgb(31, 89, 107);
    padding-top: 150px;
    padding-bottom: 50px;
    min-height: 700px;
    width: 100%;
}

#projetos .row {
    padding-top: 5%;
}

#projetos div {
    color:white;
    font-family: "Lora", sans-serif;
    text-align: center;
}

#projetos .card {
    border-color: rgb(51, 142, 165);
    
}

#projetos .card-body {
    background-color: rgb(51, 142, 165);
    border-radius: 5px;
}

#contato {
    color:white;
    padding-top:150px;
    padding-bottom: 24px;
    height: 600px;
    width: 100%;
    transition: height 0.5s ease-in-out;
    overflow: hidden;
}

#massage {
    color:white;
    background-color: rgb(31, 89, 107);
}

#nome {
    color: white;
    background-color: rgb(31, 89, 107);
    border-color: rgb(31, 89, 107);
}

.form-control::placeholder {
    color:white;
    opacity: 1;
}

#email {
    color:white;
    background-color: rgb(31, 89, 107);
    border-color: rgb(31, 89, 107);
}

#phone {
    color:white;
    background-color: rgb(31, 89, 107);
    border-color: rgb(31, 89, 107);
}

#options {
    color:white;
    background-color: rgb(31, 89, 107);
    border-color: rgb(31, 89, 107);
}

#text {
    color:white;
    background-color: rgb(31, 89, 107);
    border-color: rgb(31, 89, 107);
}














#button {
    color:white;
    background-color: rgb(31, 89, 107);
}

#footer {
    background-color: rgb(33, 37, 41);
    color:white;
    text-align: center;
    font-family: "Lora", sans-serif;
    width: 100%;
    height: auto;
    padding-top:11px;
    padding-bottom:11px;
}

#insta {
    color:white;
}

#git {
    color:white;
}